{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% block head_extension %}
<link href={{ url_for('static', filename='vendors/nprogress/nprogress.css') }} rel="stylesheet">
<link href={{ url_for('static', filename='vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css') }} rel="stylesheet">
<link href={{ url_for('static', filename='custom.css') }} rel="stylesheet">
<!-- NProgress -->
<script src={{ url_for('static', filename='vendors/nprogress/nprogress.js') }}></script>
<!-- bootstrap-progressbar -->
<script src={{ url_for('static', filename='vendors/bootstrap-progressbar/bootstrap-progressbar.min.js') }}></script>
{% endblock %}
{% block content %}
<!-- CONTENT -->
<div class="">
<div class="page-title">
  <div class="title_left">
    <h3>ADA - Welcome to the ALPHA !</h3>
  </div>
</div>

<div class="clearfix"></div>

<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">

    <div class="x_content">
    <center>
       <a type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Launch the data processing algorithm. These process usualy takes some time to complete." href={{url_for('api.run_job')}}>Run Job</a>
    </center>
    </div>
  </div>
</div>

{% if tasks != None and tasks.length != 0%}

    {% for task in tasks %}
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="x_panel tile_stats_count">
        <div class="x_title">
          <h2>{{task.name | safe}}</h2>
          <div class="clearfix"></div>
        </div>

        <div id="{{ task.id }}" class="x_content">
            <h2 id="percent"></h2>
            <small id="status"></small></br>
            <small id="data"></small> kwargs
            <small>Acknowledged : {{task.acknowledged | safe}}</small> 
            <div class="progress progress_wide" >
                <div id="progress_bar" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
      </div>
    </div>
    {% endfor %}

{% else %}
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">

        <div class="x_content">
        <center>
            <h2> No Jobs running !! </h2>
            <div >
                <img src="static/images/crying_panda.gif" alt="">
            </div>
            <small> Maybe something went wrong... </small>
        </center>
        </div>
      </div>
    </div>
{% endif %}

<script>
        function start_job(){

        // send ajax POST request to start background job
            $.ajax({
                type: 'POST',
                url: '/longtask',
                success: function(data, status, request) {
                    status_url = request.getResponseHeader('Location');
                    update_progress(status_url, nanobar, div[0]);
                },
                error: function() {
                    alert('Unexpected error');
                }
            });
        }
        function update_progress(status_url, div_element) {
        // send GET request to status URL
        $.getJSON(status_url, function(data) {
            console.log(data);

            // update UI
            percent = parseInt(data['current'] * 100 / data['total']);

            progress_bar_element = $(div_element).find('#progress_bar')

            $(div_element).find('#percent').text(percent + '%');
            $(div_element).find('#status').text(data['status'] + " time remaining");
            $(div_element).find('#data').text('data : ' + data['state']);
            $(progress_bar_element).css('width', percent+'%').attr('aria-valuenow', percent); 

            if (data['state'] == 'PENDING'){
                progress_bar_element.class = "progress-bar progress-bar-warning"
            } else if (data['state'] == 'FAILURE'){
                progress_bar_element.class = "progress-bar progress-bar-danger"
            } else if (data['state'] == 'PROGRESS'){
               progress_bar_element.class = "progress-bar progress-bar-success"
            }

            if (data['state'] == 'PENDING' || data['state'] == 'PROGRESS') {
                // rerun in 2 seconds
                setTimeout(function() {
                    update_progress(status_url, div_element);
                }, 2000);
            }
        });
    }
    $( document ).ready(function() {
        {% for task in tasks %}
        update_progress("{{url_for('api.taskstatus',task_id=task.id)}}", document.getElementById("{{task.id}}"));       
        {% endfor %}
    });
</script>
<!-- /page content -->
{% endblock %}